html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: #f9f9f9;  
  font-family: "Muller", Arial, sans-serif;  
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1;
}

:root {
  --main-color: #CC9933;
  --main-background-color: #ffffff;
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: box-shadow, color, background-color; 
  transition-duration: 200ms;
  transition-timing-function: linear;
}

button {
  transition-property: box-shadow, color, background-color; 
  transition-duration: 200ms;
  transition-timing-function: linear;
}

a:hover, 
button:hover {
  box-shadow: 0 0 20px 0 var(--main-color);
  color: var(--main-background-color);
  background-color: #f1da8cd8;
}

a:active,
button:active {
  box-shadow: 0 0 44px 20px var(--main-color);
}

ul, ol {
  list-style: none;
}

h1, h2, h3, p, ul, ol {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;   
  margin: 0 auto;
  padding: 0 15px;  
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section-heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 400;
  color: #333333; 
}

.section-heading-h3 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 700;
  color: var(--main-background-color); 
}

:focus {
  outline: 3px solid var(--main-color);
}


















